<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      </head>
      <link rel="stylesheet" href="dashboard.css" />
      <style>
        .main{
          margin-left: 305px;
        }
      </style>
      <body>
        <div class="dashboard">
          <div class="container">
            <a href="/dashboard">
              <div class="logo">
                <h1>Fitness</h1>
                <img src="fitness.svg" alt="" />
              </div>
            </a>
            <div class="elements">
              <a href="/dashboard">
                <div class="overview">
                  <img src="overview.svg" alt="" />
                  <p>Overview</p>
                </div>
              </a>
              <a href="/workout">
                <div class="workout">
                  <img src="workout.svg" alt="" />
                  <p>Workout</p>
                </div>
              </a>
              <a href="/goals">
                <div class="goals">
                  <img src="goals.svg" alt="" />
                  <p>Goals</p>
                </div>
              </a>
              <a href="/myschedule">
                <div class="myschedule">
                  <img src="myschedule.svg" alt="" />
                  <p>My Schedule</p>
                </div>
              </a>
              <a href="/myprogess">
                <div class="progess">
                  <img src="workout.svg" alt="" />
                  <p>Progress</p>
                </div>
              </a>
            </div>
          </div>
          <form id="logoutform">
            <img src="logout.svg" alt="" />
            <input type="submit" value="Logout" />
          </form>
        </div>
        <div class="main">
          <h1>This is Goals Page</h1>
        </div>
      </body>
    </html>
  </body>
</html>
