<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      </head>
      <link rel="stylesheet" href="dashboard.css" />
      <style>
    #main{
      display: grid;
      grid-template-columns: repeat(3 , 1fr);
       margin-left:320px;
        color:black;
      }
      </style>
      <body>
        <div class="dashboard">
          <div class="container">
            <a href="/dashboard">
              <div class="logo">
                <h1>Fitness</h1>
                <img src="fitness.svg" alt="" />
              </div>
            </a>
            <div class="elements">
              <a href="/dashboard">
                <div class="overview">
                  <img src="overview.svg" alt="" />
                  <p>Overview</p>
                </div>
              </a>
              <a href="/workout">
                <div class="workout">
                  <img src="workout.svg" alt="" />
                  <p>Workout</p>
                </div>
              </a>
              <a href="/goals">
                <div class="goals">
                  <img src="goals.svg" alt="" />
                  <p>Goals</p>
                </div>
              </a>
              <a href="/myschedule">
                <div class="myschedule">
                  <img src="myschedule.svg" alt="" />
                  <p>My Schedule</p>
                </div>
              </a>
              <a href="/myprogess">
                <div class="progess">
                  <img src="workout.svg" alt="" />
                  <p>Progress</p>
                </div>
              </a>
            </div>
          </div>
          <form id="logoutform">
            <img src="logout.svg" alt="" />
            <input type="submit" value="Logout" />
          </form>
        </div>
        <div id="main">
        </div>
        <script>
        const divContainer = document.getElementById("main")
        async function fetchdata(){
          try{
            const response = await fetch('/user/userdata', {
                method:"GET",
                headers:{
                  "Content-Type":"application/json"
              }
            })
            if(!response.ok){
              return console.log("error")
            }

            const data = await response.json()
            data.forEach(e =>{
              const griddiv = document.createElement('div')
              const pTag = document.createElement('p')
              pTag.innerHTML =`${e.description}`
              griddiv.appendChild(pTag)
              divContainer.appendChild(griddiv)
            })
          }
          catch(error){
            console.error("Error", error)
          }
        }
        fetchdata()
        </script>
      </body>
    </html>
  </body>
</html>
